@keyframes coinFlip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  animation: coinFlip 1s ease-in-out;
}
