html {
  background-color: darkslategrey;
}

body {
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 100px;
}

#first {
  background-color: blue;
  height: 80px;
  width: 80px;
  padding: 10px;
}

#second {
  background-color: crimson;
  height: 60px;
  width: 60px;
  margin: 10px;
}
